.black {
    background-image: url(../../public/assets/images/bggg.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    top: -114px;
    z-index: -1;
    padding-top: 80px;

}

.blackinn {
    width: 100%;
    height: 700px;
}

.mainbann {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.yellow {
    background-image: url(../../public/assets/images/bgg2.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    top: -114px;
    right: 0px;
    z-index: -3;
    padding-top: 200px;
    padding-left: 150px;
}

.blackwel {
    color: #FFF;
    font-family: Roboto;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}

.blackop {
    color: #FF8825;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
}

.center {
    padding-top: 200px;
}