.tag {
    text-decoration: none;
    color: #DCDCDC;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 0;
}
.logo {
    width: 84px;
    height: 82px;
    flex-shrink: 0;
}
.menu {
    list-style: none;
}
.head {
    width: 70%;
    margin-left: -100px;
}